.bdy{
margin-top: 50px;
padding: 0;
}
.navbar{
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
}
.navbar-brand{   
     color: #0559d6;
    font-weight: 700;
}
.navbar-brand:hover{   
      color: #0d6efd;
}
/* .container-fluid{
    background-color:rgb(5, 4, 72);  
} */

.collapse, .navbar-collapse  a{
    margin: 3px 0 3px 3vw; 
    color: white;
    /* color: rgb(130, 130, 250) */
}
.collapse, .navbar-collapse  a:hover{
    color: #0d6efd;
}
.box{
    width: 15%;
    /* height: 10vw; */
    background-color: blue;
    border-radius: 2%;
}
.box2{
    width: 10vw;
    height: 10vw;
    background-color: rgb(174, 169, 250);
    background-color: rgb(255, 0, 0);
    margin-left: 11vw;
}
.cntr{
    margin: 2rem 0px 0 10px;
    /* background-color: rgb(13, 79, 210); */
    width: 98vw;
    height: 93.4vh;
    display: flex;
    /* justify-content: space-between; */
}
.frm{
    width: 70%;
    height: 80%;
    padding: 3% 5% 0 5% ;
    /* background-color:rgb(255, 142, 77); */
    border-radius: 1%;
}
h1{
    margin-bottom: 8vh;
    color: white;
}
.btn{
    width: 12%;
    margin-left: 5px;
    border-radius: 99px;
}
.frm .sumry{
    color:white;
    /* font-size:100%; */
    font-weight: 500;
    /* margin-left:100px; */
    /* background-color: rgb(94, 60, 19); */
} 
#navbarNavAltMarkup{
   display: flex;
   justify-content: space-between;
    
}
.form-switch{
    /* background-color: red; */
    color: white;
}
.chatbot-container .chat-title{
    /* background-color: rgb(10, 126, 126); */
    width: 97vw;
    margin-top: 60px;
    color: azure;
    /* padding-top: 2%; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.chatbot-container .dsclmr{
    color: azure;
    position: absolute;
    bottom: 10px;
    left: 40%;
    font-size: 12px;
}
.chatbot-input input{
position: relative;
top:3vw;
width: 30vw;
left: 35vw;
}
.chatbot-input  button{
    position: absolute;
    top: 15.5em;;
    width: 6vw;
    left: 59.65vw;
}
.chatbot-container .chat-title{
    /* background-color: rgb(10, 126, 126); */
    width: 97vw;
    margin-top: 60px;
    color: azure;
    /* padding-top: 2%; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.chatbot-container .dsclmr{
    color: azure;
    position: absolute;
    bottom: 10px;
    left: 40%;
    font-size: 12px;
}
.chatbot-input input{
position: relative;
top:3vw;
width: 30vw;
left: 35vw;
}
.chatbot-input  button{
    position: absolute;
    top: 15.5em;;
    width: 6vw;
    left: 59.65vw;
    }